body {
  margin: 0 0;
  overflow: hidden;
  font-family: 'Open Sans', sans;

  transition-property: background-color, color;
  transition-duration: 0.25s, 0.25s;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  margin: 0 auto;
  width: 640px;
}

.wrapper.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

header, article, section, footer, footer > div,
#resolution div.prefix, #resolution-text {
  margin: 10px 0;
  text-align: center;
}

#message {
  margin: 10px;
  color: red;
  background-color: pink;

  border-radius: 0.5ex;

  opacity: 0.75;
}

#resolution div.prefix {
  margin: 0;
  padding: 10px 0;
  font-size: 2em;
  text-transform: uppercase;
}

#resbox {
  margin: 0 10px;
}

#resolution-text {
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
}

#categories label {
  margin: 0.25ex;
  padding: 0.5ex;
  cursor: pointer;

  border-radius: 0.5ex;

  transition-property: opacity;
  transition-duration: 0.1s;
}

#categories label input {
  display: none;
}
